<!DOCTYPE html>
{% extends 'homebase.html' %}
{% block content %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>

<body>
  <section id="appointment" class="appointment section-bg">
    <div class="container">
  <main style="padding-left: 100px; padding-top: 100px;">
    <div class="section-title">
      <h2>MEMBERS</h2>
  </div>
  <ul>
    <li><h4>César Alexandre Silva Lima (PhD student and responsible for the research).</h4></li>
    <li><h4>Silvia Cristina Martini (Advisor).</h4></li>
    <li><h4>Márcia Aparecida Silva Bissaco (Professor at UMC).</h4></li>
    <li><h4>Márcio Robortella Fernandes (Collaborator and Professor at UMC).</h4></li>
  </ul>
  </main>
  <script src="{% static 'assets/js/main.js' %}"></script>
    </div>
  </section>
</body>
</html>
<style>

</style>
{% endblock content %}
