{% extends 'signupbase.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Login&SignupCSS CSS -->
    <link href="{% static 'assets/css/Login&SignupCSS.css' %}" rel="stylesheet">
    <title>Registration|Signup</title>
</head>
<!-- ======= Appointment Section ======= -->
<section id="appointment" class="appointment section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Signup Here</h2>
    </div>
    <div>
      <br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="alert alert-danger">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    </div>
    <br>
    <form class="php-email-form" method="POST" id="loginform">
       <!-- <h1>Sign Up with</h1>
                <div class="social-container">
                    <a href="" target="_blank" class="btn btn-outline-dark"><i class="bi-github"></i></a>
                    <a href="" target="_blank" class="btn btn-outline-danger"><i class="bi-google"></i></a>
                </div> -->
       <span>Use your Email for registration</span>
        <hr>
      {% csrf_token %}
      <div class="row">
      {% for field in signup %}
        <div class="row-md-12 form-group">
          {{ field }}
        </div>
        {% if forloop.counter == '3' %}
      </div>
        {% endif %}
      {% endfor %}
        <br><br><br>
      <div class="text-center">
          Already have an account? <a style="margin-right:20px;" href="{% url 'registration:loginPage' %}">Login here</a>
          <button name="btnSubmit" type="submit">Signup</button>
      </div>
    </form>
  </div>
</section><!-- End Appointment Section -->
{% endblock content %}
