<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions with Images</title>
</head>

<body>
    <section id="appointment" class="appointment section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Create Image Question Here</h2>
            </div>
            {% if user.is_authenticated %}
            {% if Type == 'Student' %}
            <div class="section-title">
                <h2>Students are not Allowed to view this page</h2>
            </div>
            {% else %}
            <form class="php-email-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                

{{ form.questionDescription}}
{{ form.questionOptionA}}
{{ form.quetionOptionADescription}}
{{ form.questionOptionB}}
{{ form.quetionOptionBDescription}}
{{ form.questionOptionC}}
{{ form.quetionOptionCDescription}}
{{ form.questionOptionD}}
{{ form.quetionOptionDDescription}}
{{form.rightAnswerOfQuestion}}

                <div class="text-center">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </section>
        {% endif %}
        {% endif %}
        </div>

    <!-- End Appointment Section -->
    <script>
        function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#myimage').attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
    }
}
    </script>
</body>

</html>
{% endblock content %}